.App {
  text-align: center;
  
}



.App-header {
  background-color: #282c34;
  min-height: 120vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
div.left {
  float: left;
  width: 35%;
  display: grid;
  grid-template-columns: 44% 80%;
  font-size: 1em;
}

div.right {
  float: right;
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

 
}
.classFeatures {
  border: 2px solid rgb(156, 142, 62);
  border-radius: 6px;
  height: 425px;
  overflow: auto;
  text-align: center;
  color: rgb(218, 208, 153)

  
}

div.classButtons {
  height: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}

div.level {
  border: 2px solid rgb(156, 142, 62);
  border-radius: 12px;
  width: 110px;
  margin-bottom:5px;
}

.classLevelerContainer {
  display: grid;
  grid-template-columns: 30% 43% 20%;
  gap: 0px 0px;
  height: 40px;
  margin-bottom:20px;
  margin-top:20px;
}

p.level-box {
  border: 1px solid black;
  height: 10px;
}

div.level-button-left {
  height: 20px;
  width: 25px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: rgb(156, 142, 62);
  font-size: 20px;
}

div.level-button-right {
  height: 20px;
  width: 25px;
  margin-top: 2px;
  margin-bottom: 10px;
  color: rgb(156, 142, 62);
  font-size: 20px;
}

div.level-button-right:hover {
  color: rgb(131, 128, 128)
}

div.level-val {
  margin-left: 10px;
  width: 20px;
  border: 2px solid rgb(156, 142, 62);
  font-size: medium;
  text-align: center;
  border-radius: 4px;
}



div.level-class {
  text-align: center;
  width: 110px;
  font-size: large;
  margin-top: 1px;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #282c34;
  box-shadow: inset 0 0 5px rgb(156, 142, 62);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(235, 219, 130);
  box-shadow: inset 0 0 3px grey;
  border-radius: 5px;
}

.importantFeatures {
  color: rgb(218, 208, 153)
}

.v-counter {
  border-radius: 40px;
 max-height: 80px;
  overflow: auto;
  padding: 0px 4px;
  border: 3px solid #966b1b;
  margin: 10px;
 
}

.v-counter input[type=button]:hover {
  color: #a47e36;
  font-weight: bold;
  background-color: transparent;
}
.v-counter span {
  border: 2px solid #a47e36;
  font-size: 13px;
  color: #a47e36;
  font-family: 'Open Sans';
}
.v-counter input[type=button], input[type=text] {
  display: inline-block;
  width: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 0px;
  color: #a47e36;
  height: 33px;
  font-family: 'Open Sans';
}

input.minusBtn{
  margin-left: 13px;
  margin-top: 10px;
  margin-right: 2px;
  font-size: 30px;
}

input.plusBtn{
  margin-left: 2px;
  font-size: 30px;
}

input.count {
  color: #e7bf0f;
  border: 2px solid #a47e36;
  width: 40px;
  font-size: 30px;
}

.label{
  font-size: medium;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
.classGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  repeat(6, 110px);
}